<div class="sticky top-0 z-2 p-1 surface-0">
  <div class="pb-3">
    <ul class="list-none flex align-items-center">
      <li class="border-round p-1 hover:surface-hover cursor-pointer">
        <a
          routerLink="/dashboard"
          class=" no-underline line-height-3"
        >
        DASHBOARD
        </a>
        <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li class="border-round p-1 hover:surface-hover cursor-pointer">
        <span class="text-blue-300 line-height-3 no-underline">{{ navigationName }}</span>
        <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li class="border-round p-1 hover:surface-hover cursor-pointer">
        <a
          routerLink="/dashboard/Unauthorized"
          class="text-blue-300 line-height-3 no-underline"
        >
          Unauthorized Access
        </a>
      </li>
      <!-- Display the name of the inaccessible navigation -->
    </ul>
  </div>
  <div class="unauthorized-container">
    <h1>Unauthorized</h1>
    <p>You do not have the required permissions for {{ navigationName }}.</p>
    <!-- Display the name of the inaccessible navigation -->
    <button pButton type="button" label="Go Back" (click)="goBack()"></button>
  </div>
</div>
